CalculationEngine/Connected Services/ServiceReferenceCalcul/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="ReceptMetric">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="metric" nillable="true" type="q1:MetricView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceptMetricResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDevice">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetAllDeviceResult" nillable="true" type="q2:ArrayOfDeviceView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMetrics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDevice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveMetricsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetricByDeviceType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTypeDevice" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetricByDeviceTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetMetricByDeviceTypeResult" nillable="true" type="q3:ArrayOfDataMetricView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>