CalculationEngine/Connected Services/ServiceReferenceCalcul/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDevice_ReceptMetric_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceptMetric" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_ReceptMetric_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceptMetricResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_GetAllDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDevice" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_GetAllDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_SaveMetrics_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMetrics" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_SaveMetrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMetricsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_SetCommandDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCommandDevice" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_SetCommandDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCommandDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_GetMetricByDeviceType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetricByDeviceType" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_GetMetricByDeviceType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetricByDeviceTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_GetListDevicesByEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListDevicesByEmployee" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_GetListDevicesByEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListDevicesByEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_GetListMetricSimple_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListMetricSimple" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_GetListMetricSimple_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListMetricSimpleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_SetDeviceEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDeviceEmployee" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_SetDeviceEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDeviceEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDevice">
    <wsdl:operation name="ReceptMetric">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/ReceptMetric" message="tns:IServiceDevice_ReceptMetric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/ReceptMetricResponse" message="tns:IServiceDevice_ReceptMetric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/GetAllDevice" message="tns:IServiceDevice_GetAllDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/GetAllDeviceResponse" message="tns:IServiceDevice_GetAllDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMetrics">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/SaveMetrics" message="tns:IServiceDevice_SaveMetrics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/SaveMetricsResponse" message="tns:IServiceDevice_SaveMetrics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCommandDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/SetCommandDevice" message="tns:IServiceDevice_SetCommandDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/SetCommandDeviceResponse" message="tns:IServiceDevice_SetCommandDevice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServiceCalcul">
    <wsdl:operation name="GetMetricByDeviceType">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcul/GetMetricByDeviceType" message="tns:IServiceCalcul_GetMetricByDeviceType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcul/GetMetricByDeviceTypeResponse" message="tns:IServiceCalcul_GetMetricByDeviceType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListDevicesByEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcul/GetListDevicesByEmployee" message="tns:IServiceCalcul_GetListDevicesByEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcul/GetListDevicesByEmployeeResponse" message="tns:IServiceCalcul_GetListDevicesByEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListMetricSimple">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcul/GetListMetricSimple" message="tns:IServiceCalcul_GetListMetricSimple_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcul/GetListMetricSimpleResponse" message="tns:IServiceCalcul_GetListMetricSimple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDeviceEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcul/SetDeviceEmployee" message="tns:IServiceCalcul_SetDeviceEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcul/SetDeviceEmployeeResponse" message="tns:IServiceCalcul_SetDeviceEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDevice" type="tns:IServiceDevice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceptMetric">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/ReceptMetric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDevice">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/GetAllDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMetrics">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/SaveMetrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCommandDevice">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/SetCommandDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IServiceCalcul" type="tns:IServiceCalcul">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMetricByDeviceType">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcul/GetMetricByDeviceType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListDevicesByEmployee">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcul/GetListDevicesByEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListMetricSimple">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcul/GetListMetricSimple" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDeviceEmployee">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcul/SetDeviceEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IServiceDevice" binding="tns:BasicHttpBinding_IServiceDevice">
      <soap:address location="http://localhost:54435/Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IServiceCalcul" binding="tns:BasicHttpBinding_IServiceCalcul">
      <soap:address location="http://localhost:54435/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>