SimlationDevices/Connected Services/ServiceReferenceDevice/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="MetricView">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="device" nillable="true" type="tns:DeviceView" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nbrValues" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="tns:TypeDeviceView" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="values" nillable="true" type="q1:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetricView" nillable="true" type="tns:MetricView" />
  <xs:complexType name="DeviceView">
    <xs:sequence>
      <xs:element minOccurs="0" name="adressMac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employees" nillable="true" type="tns:ArrayOfEmployeeView" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceView" nillable="true" type="tns:DeviceView" />
  <xs:complexType name="ArrayOfEmployeeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeView" nillable="true" type="tns:EmployeeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeView" nillable="true" type="tns:ArrayOfEmployeeView" />
  <xs:complexType name="EmployeeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeView" nillable="true" type="tns:EmployeeView" />
  <xs:complexType name="TypeDeviceView">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeDeviceView" nillable="true" type="tns:TypeDeviceView" />
  <xs:complexType name="ArrayOfDeviceView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceView" nillable="true" type="tns:DeviceView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceView" nillable="true" type="tns:ArrayOfDeviceView" />
</xs:schema>