SimlationDevices/Connected Services/ServiceReferenceDevice/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:54435/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDevice_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_ReceptMetric_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceptMetric" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_ReceptMetric_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceptMetricResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_GetAllDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDevice" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_GetAllDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_saveMetrics_InputMessage">
    <wsdl:part name="parameters" element="tns:saveMetrics" />
  </wsdl:message>
  <wsdl:message name="IServiceDevice_saveMetrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveMetricsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_GetCalcul_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalcul" />
  </wsdl:message>
  <wsdl:message name="IServiceCalcul_GetCalcul_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDevice">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/GetData" message="tns:IServiceDevice_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/GetDataResponse" message="tns:IServiceDevice_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/GetDataUsingDataContract" message="tns:IServiceDevice_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/GetDataUsingDataContractResponse" message="tns:IServiceDevice_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceptMetric">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/ReceptMetric" message="tns:IServiceDevice_ReceptMetric_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/ReceptMetricResponse" message="tns:IServiceDevice_ReceptMetric_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/GetAllDevice" message="tns:IServiceDevice_GetAllDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/GetAllDeviceResponse" message="tns:IServiceDevice_GetAllDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveMetrics">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDevice/saveMetrics" message="tns:IServiceDevice_saveMetrics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDevice/saveMetricsResponse" message="tns:IServiceDevice_saveMetrics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServiceCalcul">
    <wsdl:operation name="GetCalcul">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCalcul/GetCalcul" message="tns:IServiceCalcul_GetCalcul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCalcul/GetCalculResponse" message="tns:IServiceCalcul_GetCalcul_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDevice" type="tns:IServiceDevice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceptMetric">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/ReceptMetric" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDevice">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/GetAllDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveMetrics">
      <soap:operation soapAction="http://tempuri.org/IServiceDevice/saveMetrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IServiceCalcul" type="tns:IServiceCalcul">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCalcul">
      <soap:operation soapAction="http://tempuri.org/IServiceCalcul/GetCalcul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IServiceDevice" binding="tns:BasicHttpBinding_IServiceDevice">
      <soap:address location="http://localhost:54435/Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IServiceCalcul" binding="tns:BasicHttpBinding_IServiceCalcul">
      <soap:address location="http://localhost:54435/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>